.editorHidden {
  z-index: 10;
  overflow: hidden;
  position: relative;
}

.editor_container {
  border: 1px solid #E9E9E9;
  background-color: #F9F9F9;
  padding: 5px;
}

.editor_top {
  height: 30px;
  width: 100%;
}

.editor_middle {
  background-color: #FFF;
  border: 1px solid #E9E9E9;
  box-shadow: 3px 3px 5px #AAA inset;
}

.editor_bottom {
  height: 30px;
  width: 100%;
}

.superFancyBlockquote {
  color: #999;
  font-style: italic;
  text-align: center;
}
/*.public-DraftEditor-content>div>div>div>div:before{content:"¶"}*/
.editor-inline-image img,
.editor-inline-video video,
.editor-inline-audio audio {
  padding: 0 5px;
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.RichEditor-root {
  background: #FFF;
  border: 1px solid #DDD;
  font-size: 14px;
  padding: 15px;
}

.RichEditor-editor {
  border-top: 1px solid #DDD;
  cursor: text;
  font-size: 16px;
}

.public-DraftStyleDefault-ul {
  list-style: disc;
  padding-left: 2.0rem
}

.public-DraftStyleDefault-ol {
  padding-left: 2.0rem;
  list-style-type: decimal;
  counter-reset: ol-counter;
}

.public-DraftStyleDefault-ol:before {
  content: counter(ol-counter);
  counter-increment: ol-counter;
}

.RichEditor-editor .public-DraftEditorPlaceholder-root,
.RichEditor-editor .public-DraftEditor-content {
  margin: 0 -15px -15px;
  padding: 15px;
}

.RichEditor-editor .public-DraftEditor-content {
  min-height: 400px;
  line-height: initial;
}

.public-DraftEditor-content>div>* {
  margin: 10px 0;
}

.public-DraftEditor-content pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.RichEditor-hidePlaceholder .public-DraftEditorPlaceholder-root {
  display: none;
}

.RichEditor-editor .RichEditor-blockquote {
  border-left: 5px solid #EEE;
  color: #666;
  font-family: 'Hoefler Text', 'Georgia', serif;
  font-style: italic;
  margin: 16px 0;
  padding: 10px 20px;
}

.RichEditor-editor .RichEditor-alignment-left {
  text-align: left;
}

.RichEditor-editor .RichEditor-alignment-center {
  text-align: center;
}

.RichEditor-editor .RichEditor-alignment-right {
  text-align: right;
}

.RichEditor-editor .RichEditor-alignment-justify {
  text-align: justify;
}

.RichEditor-editor .public-DraftStyleDefault-pre {
  background-color: rgba(0, 0, 0, 0.05);
  font-family: 'Inconsolata', 'Menlo', 'Consolas', monospace;
  font-size: 16px;
  padding: 20px;
}

.RichEditor-controls {
  font-family: 'Helvetica', sans-serif;
  font-size: 14px;
  margin-bottom: 5px;
  user-select: none;
  display: inline;
  border-left: 1px solid #EEE;
}
.RichEditor-controls .ant-btn{
  transition:none!important;
  -o-transition:none!important;
  -ms-transition:none!important;
  -moz-transition:none!important;
  -webkit-transition:none!important;
}
.RichEditor-controls-split {
  padding-right: 20px
}

.RichEditor-color span {
  margin: 0;
  width: 16px;
  line-height: 28px;
}

.RichEditor-styleButton {
  color: #999;
  cursor: pointer;
  margin: 0 8px;
  padding: 3px 5px !important;
  display: inline-block;
  position: relative;
  margin: 8px 5px;
  line-height: 20px;
  font-size: 16px;
}
.RichEditor-styleButton.ant-btn.ant-btn-primary.ant-btn-icon-only{
  color: #fff;
}

.RichEditor-styleButton i.anticon {
  margin-left: 0px !important;
}

.RichEditor-activeButton {
  color: #fff;
  border-radius: 5px;
  /*这里不能写默认颜色否则会替换自定义主题色*/
}

.RichEditor-color {
  display: inline-block;
  height: 16px;
  width: 16px;
  overflow: hidden;
  top: 3px;
  position: relative;
  border-radius: 3px;
  margin: 0px 5px;
}

.RichEditor-color-active {}

.RichEditor-color:nth-child(2n+1) {}
#text-editor-affix>.ant-affix{background-color:#fff!important;}
