{
  "plugins": [
    "react-hot-loader/babel",
    "transform-class-properties"
  ],
  "presets": [
    ["es2015", {"loose" : true}],
    "stage-2",
    "react"
  ],
  "env": {
    "development": {
      "plugins": [
        ["react-transform", {
          "transforms": [{
            "transform": "react-transform-hmr",
            "imports": ["react"],
            "locals": ["module"]
          }, {
            "transform": "react-transform-catch-errors",
            "imports": ["react", "redbox-react"]
          }]
        }]
      ]
    }
  }
}
