.events {
  line-height: 24px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.events li {
  color: #999;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.events li span {
  vertical-align: middle;
}

.events li span:first-child {
  font-size: 9px;
  margin-right: 4px;
}

.event-warning {
  color: #fac450;
}

.event-normal {
  color: #2db7f5;
}

.event-error {
  color: #f50;
}

.notes-month {
  text-align: center;
}

.notes-month section {
  font-size: 28px;
}

.openFullAll {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  overflow: auto;
}

.system_top {
  width: 100%;
  padding: 10px;
  font-size: 20px;
  /*border-bottom: 1px solid #E9E9E9;*/
  /*background-color: #57c5f7;*/
  background-image: url(./images/logo.png),url(./images/topbar.jpg);
  background-repeat: no-repeat,repeat-x;
  background-position: 20px center,0;
  background-size: 32px,contain;
  padding-left: 60px;
  height: 50px!important;
  color: #fff!important;
}

.system_top a {
  color: #fff!important;
}

.system_top a:hover {
  color: #fff!important;
  text-shadow: 0px 0px 3px #fff;
}

.system_menu {
  float: left;
  width: 300px;
  position: absolute;
  z-index: 10;
}

.system_content {
  margin-left: 225px;
}

.content_group>div {
  margin: 10px !important;
  /*padding-bottom: 10px !important;*/
}

.content_header {
  /*padding-bottom: 0px !important;*/
  border-bottom: 1px solid #E9E9E9;
}

.content_page_header {
  margin: 10px 0 !important;
  padding-bottom: 10px !important;
}

.content_page {
  margin: 10px !important;
  padding-bottom: 10px !important;
}


/*menu collapse*/

.ant-layout-aside {
  position: relative;
  min-height: 100%;
}

.ant-layout-aside .ant-layout-logo {
  width: 150px;
  height: 32px;
  border-radius: 6px;
  margin: 16px 24px 16px 28px;
  transition: all 0.3s ease;
}

.ant-layout-aside-collapse .ant-layout-logo {
  width: 32px;
  margin: 16px;
  transition: all 0.3s ease;
}

.ant-layout-aside .ant-layout-sider {
  width: 224px;
  position: absolute;
  overflow: visible;
  padding-bottom: 24px;
  height: 100%;
  transition: all 0.3s ease;
}

.ant-layout-aside-collapse .ant-layout-sider {
  width: 64px;
  transition: all 0.3s ease;
}

.ant-layout-aside .ant-layout-sider>.ant-menu {
  margin-bottom: 20px;
}

.ant-layout-aside .ant-layout-sider>.ant-menu>.ant-menu-item {
  margin: 16px 0;
}

.ant-layout-aside .ant-layout-sider>.ant-menu>.ant-menu-item .nav-text {
  vertical-align: baseline;
  display: inline-block;
}

.ant-layout-aside .ant-layout-sider>.ant-menu>.ant-menu-item>.anticon {
  transition: font-size .3s;
}

.ant-layout-aside-collapse .ant-layout-sider>.ant-menu>.ant-menu-item {
  transition: all 0s ease;
}

.ant-layout-aside-collapse .ant-layout-sider .ant-menu>.ant-menu-item,
.ant-layout-aside-collapse .ant-layout-sider .ant-menu-item-group-list>.ant-menu-item {
  border-right-width: 0px;
}

.ant-layout-aside-collapse .ant-layout-sider .ant-menu>.ant-menu-item-selected,
.ant-layout-aside-collapse .ant-layout-sider .ant-menu-item-group-list>.ant-menu-item-selected {
  border-right-width: 2px;
}

.ant-layout-aside-collapse .ant-layout-sider>.ant-menu>.ant-menu-item>.anticon {
  font-size: 16px;
  display: inline-block;
}

.ant-layout-aside-collapse .ant-layout-sider>.ant-menu>.ant-menu-item .nav-text {
  display: none;
}

.ant-layout-aside-collapse .ant-layout-sider>.ant-menu>.ant-menu-item:hover {
  background: #2db7f5;
  color: #fff;
  transition: all 0s ease;
}

.ant-layout-aside-collapse .ant-layout-sider>.ant-menu>.ant-menu-item:hover .nav-text {
  display: inline-block;
  vertical-align: top;
  background: #2db7f5;
  color: #fff;
  padding-right: 16px;
  border-radius: 0 5px 5px 0;
}

.ant-table-large .newsTypeTD {
  margin: -16px -8px;
  display: block;
  position: relative;
  height: 51px;
  /* top: -16px; */
  padding: 16px 8px;
}


/* 实际使用中需要改成 position: fixed */

.ant-aside-action {
  z-index: 101;
  background-color: rgba(45, 186, 245, .5);
  color: #fff;
}

.ant-layout-aside .ant-aside-action {
  height: 42px;
  width: 224px;
  position: fixed;
  bottom: 0;
  color: #fff;
  text-align: center;
  line-height: 42px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.ant-layout-aside-collapse .ant-aside-action {
  width: 64px;
  transition: all 0.3s ease;
}

.ant-layout-aside .ant-layout-header {
  background: #fff;
  height: 64px;
  border-bottom: 1px solid #e9e9e9;
}

.ant-layout-aside .ant-layout-breadcrumb {
  margin: 7px 0 -17px 24px;
}

.ant-layout-aside .ant-layout-main {
  margin-left: 224px;
  transition: all 0.3s ease;
}

.ant-layout-aside-collapse .ant-layout-main {
  margin-left: 64px;
  transition: all 0.3s ease;
}

.ant-layout-aside .ant-layout-container {
  margin: 24px 16px;
}

.ant-layout-aside .ant-layout-content {
  background: #fff;
  padding: 24px;
}

.ant-layout-aside .ant-layout-footer {
  height: 64px;
  line-height: 64px;
  text-align: center;
  font-size: 12px;
  color: #999;
  background: #fff;
  border-top: 1px solid #e9e9e9;
  width: 100%;
}

.ant-layout-aside .ant-layout-sider>.ant-menu {
  margin-bottom: 40px;
}

.ant-layout-aside-collapse i {
  font-size: 16px;
  margin-left: -10px;
  transition: all 0.3s ease;
}

.ant-layout-aside-collapse .ant-spin-dot i {
  margin-left: 0px;
}

.ant-layout-aside-collapse .ant-menu-submenu-title>span>span,
.ant-layout-aside-collapse .ant-menu-item-group-title>span>span,
.ant-layout-aside-collapse .ant-menu-inline>.ant-menu-item>a>span>span {
  display: none;
  transition: all 0.3s ease;
}

.ant-layout-aside-collapse .ant-menu-vertical>.ant-menu-item>a>span>span {
  display: inline-block!important;
  transition: all 0.3s ease;
}

.ant-menu-sub.ant-menu-inline .ant-menu-item-group-title {
  width: 300px;
}

.ant-layout-aside-collapse .system_content {
  margin-left: 64px;
  transition: all 0.3s ease;
}


/*menu collapse*/


/*��д�����ʽ*/

.ant-menu-submenu-title>a {
  width: 100%;
  height: 100%;
  display: inline-block;
}

.ant-breadcrumb {
  line-height: 2rem;
  height: 2rem;
  border-bottom: 1px solid #E9E9E9;
  font-size: .9rem;
  padding-left: 10px;
}

.ant-switch-disabled>.ant-switch-inner {
  color: #CCCCCC;
}

.ant-menu-submenu-inline.ant-menu-submenu,
.ant-menu-submenu-vertical.ant-menu-submenu {
  border-bottom: 1px solid #E9E9E9;
}

.ant-table-small {
  border: 0px !important;
}

.ant-table-header {
  overflow-y: hidden !important;
}

.ant-table-small table {
  padding: 0 !important;
}

.ant-table-row .anticon {
  font-size: 16px;
}

.ant-table-row .ant-btn>.anticon,
.ant-table-row .default-icon .anticon {
  font-size: 12px;
}

.ant-table-row .ant-badge {
  height: 14px;
  margin-top: -10px;
}

.ant-radio-wrapper-disabled>span:last-child {
  color: #CCCCCC;
}

.tooltip {
  border: 1px solid rgb(45, 183, 245);
  border-radius: 3px;
  padding: 2px 10px;
  background: rgba(245, 245, 245, 0.5);
  margin-top: -10px;
  color: rgb(45, 183, 245);
}

.tooltip:before {
  content: " ";
  width: 10px;
  height: 10px;
  position: absolute;
  display: inline-block;
  text-align: center;
  left: 50%;
  margin-left: -5px;
  bottom: -10px;
  border: 1px solid transparent;
  border-width: 5px 5px 0px 5px;
  border-top-color: rgb(45, 183, 245);
}

.custom_padding .ant-row {
  margin-left: -8px;
  margin-right: -8px;
}

.custom_padding .ant-row>div {
  padding: 8px;
}

.hiddenItem {
  display: none!important;
}

.ant-card-head {
  background-color: #f7f7f7;
}

.ant-card-bar {
  display: inline-block;
}

.ant-card-bar>* {
  margin-right: 10px;
}

.ant-menu {
  z-index: 100
}

#patternbg {
  width: 100%;
  height: 100%;
  position: fixed;
}

.blur {
  z-index: -1;
  filter: url(blur.svg#blur);
  /* FireFox, Chrome, Opera */
  -webkit-filter: blur(20px);
  /* Chrome, Opera */
  -moz-filter: blur(20px);
  -ms-filter: blur(20px);
  filter: blur(20px);
  filter: progid: DXImageTransform.Microsoft.Blur(PixelRadius=50, MakeShadow=false);
  /* IE6~IE9 */
}

.bg1 {
  background-image: url(./images/patternbg1.jpg)
}

.bg2 {
  background-image: url(./images/patternbg2.jpg)
}

.bg3 {
  background-image: url(./images/patternbg3.jpg)
}

.bg4 {
  background-image: url(./images/patternbg4.png)
}

.rotateXAxis1 .tick text {
  transform: rotateZ(90deg)translateX(20px);
}

.ant-card-bar-tinyPicker .ant-calendar-range-picker-input {
  width: 80px!important;
}

.ant-collapse-item .ant-card-body {
  padding: 10px!important;
  padding-bottom: 2px!important;
}

.ant-collapse-content-box .ant-tabs-vertical.ant-tabs-left>.ant-tabs-bar .ant-tabs-tab .ant-tabs-tab-inner {
  text-align: left;
}

.ant-collapse-content-box .ant-tabs-vertical>.ant-tabs-bar .ant-tabs-tab .ant-tabs-tab-inner {
  padding: 8px 0px;
}

.ant-collapse-content-box .ant-tabs-vertical>.ant-tabs-bar .ant-tabs-tab {
  margin-bottom: 0px;
}

.give_rules .ant-checkbox-group label {
  margin: 20px 20px 0 0;
}

.ant-modal-body p>img {
  max-width: 100%;
  margin: 0 auto;
  display: inherit;
}

.give_rules .ant-checkbox-group {
  padding-bottom: 20px
}

.ant-checkbox-wrapper:hover .ant-checkbox>span {
  background-color: #9cdbf7!important
}

.ant-checkbox-wrapper:hover .ant-checkbox-disabled>span {
  background-color: #f3f3f3!important
}

.ant-radio-wrapper:hover .ant-radio>span {
  background-color: #9cdbf7!important
}

.ant-radio-wrapper:hover .ant-radio-disabled>span {
  background-color: #f3f3f3!important
}

.nest-col .ant-card-body {
  padding: 0;
  line-height: 0
}

.picture-list .ant-radio {
  top: 19px;
}

.picture-settings {
  background-repeat: no-repeat;
  background-position: left;
  background-origin: content-box;
  background-size: contain;
  line-height: 0;
  position: relative;
  margin: 0 auto;
}

.watermark_grid {
  display: block;
  position: absolute;
  top: 0;
  background-repeat: no-repeat;
}

.watermark_grid span {
  display: inline-block;
  border: 1px dashed rgba(255, 255, 255, .2);
  cursor: pointer;
}

.watermark_grid span:hover {
  background-color: rgba(100, 100, 100, .5);
}

.watermark_grid.watermark_NorthWest {
  background-position: left top;
}

.watermark_grid.watermark_North {
  background-position: top;
}

.watermark_grid.watermark_NorthEast {
  background-position: right top;
}

.watermark_grid.watermark_West {
  background-position: left center;
}

.watermark_grid.watermark_Center {
  background-position: center;
}

.watermark_grid.watermark_East {
  background-position: right center;
}

.watermark_grid.watermark_SouthWest {
  background-position: left bottom;
}

.watermark_grid.watermark_South {
  background-position: center bottom;
}

.watermark_grid.watermark_SouthEast {
  background-position: right bottom;
}

.reloadPfopingPictrue {
  font-size: 20px;
  display: block;
  position: relative;
  text-align: center;
  padding-top: 10px;
}

.fome_title {
  color: #57c5f7;
  text-align: center;
}

.no_trans {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
  -o-transform: none !important;
  -moz-transform: none !important;
  -ms-transform: none !important;
  -webkit-transform: none !important;
  transform: none !important;
}

.newsPreview p {
  margin: 10px 0;
}

.loadingState {
  text-align: center;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 30px 50px;
  margin: 20px 0;
}

.editor-inline-image tips {
  font-size: 12px;
  position: absolute;
  right: 0;
  color: #aaa;
}

.ant-fullcalendar-fullscreen .ant-fullcalendar-today .ant-fullcalendar-value {
  color: rgba(45, 183, 245, 1);
}

.ant-fullcalendar-fullscreen .ant-fullcalendar-value {
  color: rgba(45, 183, 245, 0.5);
  opacity: 0.5;
  pointer-events: none;
  font-size: 30px;
  padding-top: 0px;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.ant-fullcalendar-last-month-cell .ant-fullcalendar-value,
.ant-fullcalendar-next-month-btn-day .ant-fullcalendar-value {
  color: rgba(204, 204, 204, 0.5)!important;
}

.tag_normal_news {
  background-color: #0097da;
  color: #fff
}

.tag_img_news {
  background-color: #01b3ca;
  color: #fff
}

.tag_video_news {
  background-color: #5fbc29;
  color: #fff
}

.tag_subject_news {
  background-color: #fac450;
  color: #fff
}

.tag_live_news {
  background-color: #ff6600;
  color: #fff
}

.tag_girl_news {
  background-color: #e01515;
  color: #fff
}

.tag_live_video_news {
  background-color: #e4249b;
  color: #fff
}


/*图片新闻编辑页面轮播图样式*/

.slick-list,
.slick-slider,
.slick-track {
  position: relative;
  display: block
}

.slick-loading .slick-slide,
.slick-loading .slick-track {
  visibility: hidden
}

.slick-slider {
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent
}

.slick-list {
  overflow: hidden;
  margin: 0;
  padding: 0
}

.slick-list:focus {
  outline: 0
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand
}

.slick-slider .slick-list,
.slick-slider .slick-track {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0)
}

.slick-track {
  top: 0;
  left: 0
}

.slick-track:after,
.slick-track:before {
  display: table;
  content: ''
}

.slick-track:after {
  clear: both
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px
}

[dir=rtl] .slick-slide {
  float: right
}

.slick-slide img {
  display: block
}

.slick-slide.slick-loading img {
  display: none
}

.slick-slide.dragging img {
  pointer-events: none
}

.slick-initialized .slick-slide {
  display: block
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent
}

.slick-arrow.slick-hidden {
  display: none
}

.slick-dots,
.slick-next,
.slick-prev {
  position: absolute;
  display: block;
  padding: 0
}

.slick-dots li button:before,
.slick-next:before,
.slick-prev:before {
  font-family: slick;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.slick-loading .slick-next,
.slick-prev {
  font-size: 0;
  line-height: 0;
  top: 50%;
  width: 20px;
  height: 20px;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: 0;
  background: 0 0
}

.slick-next:focus,
.slick-next:hover,
.slick-prev:focus,
.slick-prev:hover {
  color: transparent;
  outline: 0;
  background: 0 0
}

.slick-next:focus:before,
.slick-next:hover:before,
.slick-prev:focus:before,
.slick-prev:hover:before {
  opacity: 1
}

.slick-next.slick-disabled:before,
.slick-prev.slick-disabled:before {
  opacity: .25
}

.slick-next:before,
.slick-prev:before {
  font-size: 20px;
  line-height: 1;
  opacity: .75;
  color: #fff
}

.slick-prev {
  left: -25px
}

[dir=rtl] .slick-prev {
  right: -25px;
  left: auto
}

.slick-prev:before {
  content: '←'
}

.slick-next:before,
[dir=rtl] .slick-prev:before {
  content: '→'
}

.slick-next {
  right: -25px
}

[dir=rtl] .slick-next {
  right: auto;
  left: -25px
}

[dir=rtl] .slick-next:before {
  content: '←'
}

.slick-dotted.slick-slider {
  margin-bottom: 30px
}

.slick-dots {
  bottom: -25px;
  width: 100%;
  margin: 0;
  list-style: none;
  text-align: center;
  position: initial;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer
}

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: 0;
  background: 0 0
}

.slick-dots li button:focus,
.slick-dots li button:hover {
  outline: 0
}

.slick-dots li button:focus:before,
.slick-dots li button:hover:before {
  opacity: 1
}

.slick-dots li button:before {
  font-size: 16px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: '•';
  text-align: center;
  opacity: .25;
  color: #000
}

.slick-dots li.slick-active button:before {
  opacity: .75;
  color: #000
}

.ant-back-top {
  bottom: 100px;
  opacity: 0.5;
}

.ant-back-top:hover {
  opacity: 1;
}

.ant-back-top-inner {
  height: 40px;
  width: 40px;
  line-height: 40px;
  border-radius: 4px;
  background-color: #57c5f7;
  color: #fff;
  text-align: center;
  font-size: 20px;
}

.ant-affix {
  background-color: #fff
}

.ant-fullcalendar-fullscreen .ant-fullcalendar-content {
  height: 100%!important;
  margin-top: -24px!important;
}

.ant-fullcalendar-content .ant-tabs-bar {
  margin-bottom: 0!important;
}

.ant-fullcalendar-fullscreen .ant-fullcalendar-month-panel-current-cell .ant-fullcalendar-month,
.ant-fullcalendar-fullscreen .ant-fullcalendar-today .ant-fullcalendar-date {
  border: 2px solid #FAC450;
}

.ant-badge-status-update {
  background-color: #60BE29;
}

.ant-badge-status-message {
  background-color: #00A0E9;
}

.ant-badge-big-notifier {
  transform: scale(1.4);
  padding: 0 20px;
}

.ant-badge-big-notifier sup {
    background-color: rgba(0,0,0,0);
    /*background-color: rgba(253, 224, 35,0.1);*/
    color: #fff;
}

span.newsTypeTD {
  top: -4px;
}

.breakImages>div {
  width: 100px;
  height: 100px;
  overflow: hidden;
  display: inline-block;
  margin: 10px 10px 0 0;
  background-clip: content-box;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #E9E9E9;
  border-radius: 3px;
  overflow: hidden;
}

.ant-radio-button-wrapper-disabled.ant-radio-button-wrapper-checked {
  background-color: #cbe8fd!important;
}

.ant-scroll-number {
  z-index: 1;
}
